.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
}
.content {
    flex: 0;
    margin: -1 16px;
    min-width: 691px;
    padding: 23px 0;
}
